* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

body {
    font-family: "Inter", sans-serif;
}

/*  */
header {
    background-color: white;
}

nav {
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.btn {
    padding: 15px 30px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #306445;
}

nav .maun-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

nav .maun-list li a {
    color: black;
    font-size: 16px;
    font-weight: 500;
}
/* banner-section */




















/* banner-section */
/* banner-section */
/* banner-section */
/* banner-section */